// CONSTANTS

$nav-height: 80px;

// GENERAL

* {
  box-sizing: border-box;
}

// NAVBAR

#navbar {
  height: $nav-height;
  width: 100%;
  border-bottom: 1px solid #555;
}

// AVATAR

.avatar {
  width: 75px;
  height: 75px;
  background-size: cover;
  border: 2px solid #555;
}

.post, 
.comment,
.friend {
  > .avatar {
    width: 25px;
    height: 25px;
    border-width: 1px;
  }
}
